main {
    display: flex;
    margin: auto;
    flex-direction: column;
    width: 440px;
    justify-content: center;
}


div {
    border: black 1px solid;
    width: 400px;
    padding: 20px;
   
}

a:hover {
    background: orange;
}

a:link {
    background-color: white;
    text-decoration: none;
}