.asteroidbig {
  color: blue;
  background-color: yellow;
}

.asteroidb329big {
    color: blue;
    font-weight: bold;
}

#b325 {
    border: green 1px solid;
    font-weight: bold;
}

.asteroidb326 {
    border: 1px solid green;
    font-weight: bold;
}